[user]
  name = Brian Kaney
  email = brian@vermonster.com
[alias]
  st = status
  br = branch
  ci = commit
  co = checkout
	lg = log --all --branches --color --graph --pretty=format:'%C(red)%h%Creset -%C(white)%d%Creset %s %C(green)(%cr) %C(reset)<%an>%Creset' --abbrev-commit --date=relative
